<a href="https://colab.research.google.com/github/bjpark-forest/2023-1-Intro-DataScience/blob/main/3%EC%A3%BC%EC%B0%A8_2023431213_%EB%B0%95%EB%B4%89%EC%A3%BC%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2장 파이썬 핵심 문법

## 2.10 파이썬 핵심 문법 연습 문제

###문제1 사용자로부터 학교 이름, 본인 이름, 연락처를 변수에 저장하여 출력해보시오
- 변수명: 학교이름(univ), 학과(dept), 이름(name), 연락처(phone)

In [4]:
univ = "한국대"
dept = "컴공"
name = "이순신"
phone = "010-1234-5678"

print(f'학교: {univ}')
print(f'학과: {dept}')
print(f'이름: {name}')
print(f'연락처: {phone}')

학교: 한국대
학과: 컴공
이름: 이순신
연락처: 010-1234-5678

###문제2. 카페 총 매출액과 순이익을 출력하는 프로그램을 작성하시오
- 변수명: 아메리카노(ame), 카페라테(cafelatte), 카푸치노(cappuccino), 총매출(total)
- 가격: ame=2000, cafelatte=3500, cappuccino=3500
- 하루 판매 수량은 각각 20개, 15개, 15개이며 하루 재료비는 100,000원이다

In [9]:
# 아메리카노, 카페라테, 카푸치노 가격을 각각 변수에 할당
ame, cafelatte, cappuccino = 2000, 3500, 3500

# 하루 판매 수량을 단위 가격에 곱하여 총 매출을 구함
total = ame * 20 + cafelatte * 15 + cappuccino * 15

# 총 매출에서 재료비를 빼서 순이익을 구함
profit = total - 100000

print(f'총매출: {total}')
print(f'순이익: {profit}')

총매출: 145000
순이익: 45000

###문제3. 이름과 출생년도를 입력받아 한국 나이를 출력하는 프로그램을 작성하시시오

In [13]:
name = input("이름 입력: ")
birth_year = int(input("출생년도 입력: "))

kor_year = 2023 - birth_year + 1

print(f'{name}님의 한국 나이는 {kor_year}살')

이름 입력: 이순신
출생년도 입력: 2002
이순신님의 한국 나이는 22살

###문제4 다음의 파이썬 코드 실행 결과가 나오도록 밑줄을 채우시오

In [14]:
spot = ['을지로', '가로수길', '홍대', '대학로']
select = spot[2:]
print(select)

['홍대', '대학로']

###문제5. 다음과 같은 실행 결과가 나오도록 밑줄에 알맞은 함수를 작성하시오

In [15]:
person = {100:'이순신', 200:'강감찬', 300:'김유신'}
list(person.keys())

[100, 200, 300]

In [16]:
list(person.values())

['이순신', '강감찬', '김유신']

In [17]:
list(person.items())

[(100, '이순신'), (200, '강감찬'), (300, '김유신')]

In [18]:
person.get(200)

'강감찬'

In [20]:
del(person[100])
print(person)

{200: '강감찬', 300: '김유신'}

###문제6.다음은 채팅 앱에 친구를 등록하고 이름으로 검색한 후 연락처를 출력하는 프로그램이다. 다음 실행결과와 같이 출력되도록 빈칸에 알맞은 코드를 완성하시오

In [26]:
addr={}

addr['이순신']='010-1111-1234'
addr['강감찬']='010-2222-1234'
addr['김유신']='010-3333-1234'
addr['안중근']='010-4444-1234'
addr['유관순']='010-5555-1234'

names = list(addr.keys())
print(names)

search_name = input("찾는 이름: ")
if addr.get(search_name):
  print(addr.get(search_name))
else:
  print("없는 이름")

['이순신', '강감찬', '김유신', '안중근', '유관순']
찾는 이름: 김유신
010-3333-1234

###문제7. 다음과 같이 동아리 A, B에 학생들이 가입되어 있다. 실행 결과를 참고하여 문제를 해결하시오

In [33]:
clubA = {'김유신', '이순신', '강감찬'}
clubB = {'이순신', '계백', '최영'}

In [34]:
# set 자료 구조를 사용한다.
print(clubA.union(clubB))

{'강감찬', '이순신', '계백', '최영', '김유신'}

In [35]:
print(clubA.intersection(clubB))

{'이순신'}

In [36]:
print(clubA.difference(clubA.intersection(clubB)))

{'김유신', '강감찬'}

In [38]:
clubA.add('이황')
print(clubA)

{'이황', '김유신', '이순신', '강감찬'}

In [39]:
clubB.remove('계백')
print(clubB)

{'최영', '이순신'}

In [41]:
print(f"A 동아리: {clubA}")
print(f"B 동아리: {clubB}")

A 동아리: {'이황', '김유신', '이순신', '강감찬'}
B 동아리: {'최영', '이순신'}

### 다음 밑줄에 알맞은 파이썬 코드를 작성하시오
- 문자열 길이가 3인 문자열들만 리스트 형태로 출력되도록 리스트 내포를 사용할 것

In [42]:

food=['사과','바나나','초콜렛','디저트','멜론','샤인머스켓']

three_letters = [x for x in food if len(x) == 3]
print(three_letters)

['바나나', '초콜렛', '디저트']